@charset "utf-8";
#sitemap-section {
    display: flex;
    flex-wrap: wrap;
}

#sitemap-section {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
}

.contents__headline {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

p.comment {
    margin: 0 0 20px 5px;
}

.s-column {
    clear: both;
    padding: 0 0 0 31px;
    overflow: hidden;
    height: 100%;
    margin: 0 0 50px;
    width: 180px;
}

.s-column.-first {
    padding-left: 0;
}

.s-column h2 {
    border-bottom: 1px dotted #777;
    font-weight: bold;
    margin: 0 0 5px;
    font-size: 18px;
    padding-bottom: 3px;
}

.s-column li {
    background: url(../images/bg_sitemap_arrow.jpg) no-repeat left 8px;
    padding: 0 0 0 12px;
    line-height: 1.6;
    font-size: 16px;
}

.column-one {
    width: 32%;
    float: left;
    margin: 0 8px 0 0;
}

.column-two {
    float: left;
    width: 68%;
}

.s-topic {
    margin: 0 0 28px;
    overflow: hidden;
    height: 100%;
}

s.column-three,
.column-three ul.link {
    width: 660px;
}

.column-three ul {
    width: 27%;
}

.column-three ul.link li {
    float: left;
    width: 208px;
}